In [ ]:
pip install google-cloud-bigquery

In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'rute/file.json'

In [3]:
from google.cloud import bigquery

# Creamos el cliente de BigQuery
client = bigquery.Client()

# Escribir la consulta SQL
query = """
    SELECT *
    FROM `retail_database.retail_dataset.order_items`
    LIMIT 10
"""

# Ejecutar la consulta y cargar los datos en un DataFrame de Pandas
query_job = client.query(query)  # Ejecutar la consulta

# Convertir los resultados en un DataFrame de Pandas
df = query_job.to_dataframe()

# Mostrar los primeros registros
print(df.head())

       id  order_id  user_id  product_id  inventory_item_id      status  \
0    1650      1160      969       16898               4503  Processing
1   43815     30354    24239       16898             118388   Cancelled
2  116616     80445    64322       16898             314864   Cancelled
3   96202     66282    52992       16898             259836    Returned
4   29318     20301    16274       16898              79355    Complete

                 created_at                shipped_at  \
0 2024-04-08 09:25:56+00:00                       NaT
1 2021-02-27 06:06:18+00:00                       NaT
2 2024-02-02 01:55:18+00:00                       NaT
3 2024-05-20 17:55:05+00:00 2024-05-20 18:30:00+00:00
4 2023-08-03 00:11:03+00:00 2023-08-03 22:10:00+00:00

               delivered_at               returned_at  sale_price  \
0                       NaT                       NaT        25.0
1                       NaT                       NaT        25.0
2                       NaT                       NaT        25.0
3 2024-05-24 23:22:00+00:00 2024-05-26 06:53:00+00:00        25.0
4 2023-08-05 12:53:00+00:00                       NaT        25.0

           cost     category brand department
0  13.920000000  Tops & Tees  None        Men
1  13.920000000  Tops & Tees  None        Men
2  13.920000000  Tops & Tees  None        Men
3  13.920000000  Tops & Tees  None        Men
4  13.920000000  Tops & Tees  None        Men

In [ ]:
!pip install db-dtypes

In [ ]:
!pip install google-cloud-bigquery-storage

In [87]:
# Importar las bibliotecas necesarias
from google.cloud import bigquery_storage
import pandas as pd  


# Autenticación (fuera de Google Colab)
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'rute/file.json'

# Crear el cliente de BigQuery
client = bigquery.Client()

# Escribir la consulta SQL
query = """
    SELECT *  FROM `retail_database.retail_dataset.order_items` WHERE status="Complete"
"""

# Ejecutar la consulta y cargar los datos en un DataFrame de Pandas
query_job = client.query(query)
df = query_job.to_dataframe()  # Carga los resultados de la consulta en un DataFrame de Pandas

# Ver las primeras filas del DataFrame
print(df.head())

       id  order_id  user_id  product_id  inventory_item_id    status  \
0    2112      1470     1233       13606               5741  Complete
1  144247     99489    79480       13606             389642  Complete
2   43911     30420    24300       28679             118649  Complete
3  167127    115282    91970       28679             451374  Complete
4  139046     95937    76669       28679             375572  Complete

                 created_at                shipped_at  \
0 2024-06-01 03:12:02+00:00 2024-06-01 09:33:00+00:00
1 2024-02-24 12:51:58+00:00 2024-02-25 02:42:00+00:00
2 2023-01-01 03:29:53+00:00 2023-01-02 07:50:00+00:00
3 2022-01-21 01:08:17+00:00 2022-01-22 17:50:00+00:00
4 2020-05-23 14:24:24+00:00 2020-05-24 16:49:00+00:00

               delivered_at returned_at  sale_price     category  \
0 2024-06-02 01:33:00+00:00         NaT        2.50  Accessories
1 2024-02-26 07:32:00+00:00         NaT        2.50  Accessories
2 2023-01-03 20:22:00+00:00         NaT        3.50  Accessories
3 2022-01-22 23:18:00+00:00         NaT        3.50  Accessories
4 2020-05-27 12:17:00+00:00         NaT        3.50  Accessories

              brand department sale_price_numeric  cost
0  Scarf_tradinginc      Women        2.500000000  1.11
1  Scarf_tradinginc      Women        2.500000000  1.11
2        Greatlookz        Men        3.500000000  1.52
3        Greatlookz        Men        3.500000000  1.52
4        Greatlookz        Men        3.500000000  1.52

In [51]:
# Identificar filas duplicadas en todas las columnas
duplicados = df[df.duplicated()]

# Mostrar los registros duplicados
print("Registros duplicados:")
print(duplicados)

Registros duplicados:
Empty DataFrame
Columns: [id, order_id, user_id, product_id, inventory_item_id, status, created_at, shipped_at, delivered_at, returned_at, sale_price, cost, category, brand, department, sale_price_numeric, processing_time, shipping_time]
Index: []

In [11]:
# Ingresos por categoría
ingresos_por_categoria = df.groupby('category')['sale_price'].sum().reset_index()

# Ingresos por departamento
ingresos_por_departamento = df.groupby('department')['sale_price'].sum().reset_index()

# Visualización de los resultados
print("Ingresos por Categoría:")
print(ingresos_por_categoria)
print("\nIngresos por Departamento:")
print(ingresos_por_departamento)

Ingresos por Categoría:
                         category     sale_price
0                     Accessories  104239.979953
1                          Active  115205.580014
2               Blazers & Jackets   74810.510138
3                   Clothing Sets    4197.269995
4                         Dresses  110998.670287
5   Fashion Hoodies & Sweatshirts  167856.130073
6                       Intimates  109142.220114
7                           Jeans  325967.830402
8             Jumpsuits & Rompers    9525.360033
9                        Leggings   20222.209964
10                      Maternity   64038.609892
11              Outerwear & Coats  331029.679697
12                          Pants  113090.600387
13                 Pants & Capris   46561.130157
14                           Plus   39328.360119
15                         Shorts  128786.980393
16                         Skirts   28829.550098
17                 Sleep & Lounge  137677.650404
18                          Socks   29542.849979
19                Socks & Hosiery   15969.999977
20                          Suits   30284.790018
21            Suits & Sport Coats  169491.559825
22                       Sweaters  208758.230043
23                           Swim  160318.810285
24                    Tops & Tees  121990.340420
25                      Underwear   51760.650063

Ingresos por Departamento:
  department    sale_price
0        Men  1.468015e+06
1      Women  1.251611e+06

In [27]:
# Ajustando Pandas para mostrar números en notación decimal
pd.options.display.float_format = '{:,.2f}'.format
# Ingresos por categoría
ingresos_por_categoria = df.groupby('category')['sale_price'].sum().reset_index()

# Ingresos por departamento
ingresos_por_departamento = df.groupby('department')['sale_price'].sum().reset_index()

# Visualización de los resultados
print("Ingresos por Categoría:")
print(ingresos_por_categoria)
print("\nIngresos por Departamento:")
print(ingresos_por_departamento)

Ingresos por Categoría:
                         category  sale_price
0                     Accessories  104,239.98
1                          Active  115,205.58
2               Blazers & Jackets   74,810.51
3                   Clothing Sets    4,197.27
4                         Dresses  110,998.67
5   Fashion Hoodies & Sweatshirts  167,856.13
6                       Intimates  109,142.22
7                           Jeans  325,967.83
8             Jumpsuits & Rompers    9,525.36
9                        Leggings   20,222.21
10                      Maternity   64,038.61
11              Outerwear & Coats  331,029.68
12                          Pants  113,090.60
13                 Pants & Capris   46,561.13
14                           Plus   39,328.36
15                         Shorts  128,786.98
16                         Skirts   28,829.55
17                 Sleep & Lounge  137,677.65
18                          Socks   29,542.85
19                Socks & Hosiery   15,970.00
20                          Suits   30,284.79
21            Suits & Sport Coats  169,491.56
22                       Sweaters  208,758.23
23                           Swim  160,318.81
24                    Tops & Tees  121,990.34
25                      Underwear   51,760.65

Ingresos por Departamento:
  department   sale_price
0        Men 1,468,014.97
1      Women 1,251,610.58

In [31]:
# Calcular el tiempo de procesamiento
df['processing_time'] = (pd.to_datetime(df['shipped_at']) - pd.to_datetime(df['created_at'])).dt.days

# Calcular el tiempo de envío
df['shipping_time'] = (pd.to_datetime(df['delivered_at']) - pd.to_datetime(df['shipped_at'])).dt.days

# Calcular el promedio, máximo y mínimo para el tiempo de procesamiento
processing_avg = df['processing_time'].mean()
processing_max = df['processing_time'].max()
processing_min = df['processing_time'].min()

# Calcular el promedio, máximo y mínimo para el tiempo de envío
shipping_avg = df['shipping_time'].mean()
shipping_max = df['shipping_time'].max()
shipping_min = df['shipping_time'].min()

# Imprimir los resultados
print("Tiempo de Procesamiento (días):")
print(f"Promedio: {processing_avg:.2f}")
print(f"Máximo: {processing_max}")
print(f"Mínimo: {processing_min}\n")

print("Tiempo de Envío (días):")
print(f"Promedio: {shipping_avg:.2f}")
print(f"Máximo: {shipping_max}")
print(f"Mínimo: {shipping_min}")

Tiempo de Procesamiento (días):
Promedio: 0.05
Máximo: 3
Mínimo: -5

Tiempo de Envío (días):
Promedio: 2.00
Máximo: 4
Mínimo: 0

In [33]:
# Filtrar registros donde el tiempo de procesamiento es negativo
errores_procesamiento = df[df['processing_time'] < 0]

# Mostrar los registros problemáticos
print("Registros con tiempos de procesamiento negativos:")
print(errores_procesamiento[['created_at', 'shipped_at', 'processing_time']])

Registros con tiempos de procesamiento negativos:
                     created_at                shipped_at  processing_time
8     2024-02-06 06:10:38+00:00 2024-02-05 11:03:00+00:00               -1
9     2024-06-29 09:48:55+00:00 2024-06-27 14:11:00+00:00               -2
11    2024-01-06 06:15:26+00:00 2024-01-04 20:04:00+00:00               -2
12    2023-10-19 12:00:07+00:00 2023-10-17 08:24:00+00:00               -3
13    2021-09-10 00:38:35+00:00 2021-09-07 09:54:00+00:00               -3
...                         ...                       ...              ...
45710 2024-02-15 08:09:11+00:00 2024-02-13 06:22:00+00:00               -3
45713 2020-02-23 03:09:50+00:00 2020-02-20 14:26:00+00:00               -3
45714 2021-07-04 04:02:29+00:00 2021-07-02 10:06:00+00:00               -2
45719 2022-01-06 15:46:46+00:00 2022-01-05 00:02:00+00:00               -2
45721 2021-08-04 08:48:51+00:00 2021-08-03 10:58:00+00:00               -1

[13815 rows x 3 columns]

In [35]:
# Filtrar los registros con tiempos negativos
errores_procesamiento = df[df['processing_time'] < 0]
# Intercambiar las columnas 'created_at' y 'shipped_at' para los registros con tiempos negativos
df.loc[df['processing_time'] < 0, ['created_at', 'shipped_at']] = df.loc[df['processing_time'] < 0, ['shipped_at', 'created_at']].values

# Recalcular el tiempo de procesamiento después de la corrección
df['processing_time'] = (pd.to_datetime(df['shipped_at']) - pd.to_datetime(df['created_at'])).dt.days
# Verificar si todavía hay valores negativos después de la corrección
errores_procesamiento_post_correccion = df[df['processing_time'] < 0]

# Mostrar el resultado
print("Registros con tiempos de procesamiento negativos después de la corrección:")
print(errores_procesamiento_post_correccion)

Registros con tiempos de procesamiento negativos después de la corrección:
Empty DataFrame
Columns: [id, order_id, user_id, product_id, inventory_item_id, status, created_at, shipped_at, delivered_at, returned_at, sale_price, cost, category, brand, department, sale_price_numeric, processing_time, shipping_time]
Index: []

In [37]:
# Calcular el tiempo de procesamiento
df['processing_time'] = (pd.to_datetime(df['shipped_at']) - pd.to_datetime(df['created_at'])).dt.days

# Calcular el tiempo de envío
df['shipping_time'] = (pd.to_datetime(df['delivered_at']) - pd.to_datetime(df['shipped_at'])).dt.days

# Calcular el promedio, máximo y mínimo para el tiempo de procesamiento
processing_avg = df['processing_time'].mean()
processing_max = df['processing_time'].max()
processing_min = df['processing_time'].min()

# Calcular el promedio, máximo y mínimo para el tiempo de envío
shipping_avg = df['shipping_time'].mean()
shipping_max = df['shipping_time'].max()
shipping_min = df['shipping_time'].min()

# Imprimir los resultados
print("Tiempo de Procesamiento (días):")
print(f"Promedio: {processing_avg:.2f}")
print(f"Máximo: {processing_max}")
print(f"Mínimo: {processing_min}\n")

print("Tiempo de Envío (días):")
print(f"Promedio: {shipping_avg:.2f}")
print(f"Máximo: {shipping_max}")
print(f"Mínimo: {shipping_min}")

Tiempo de Procesamiento (días):
Promedio: 1.01
Máximo: 4
Mínimo: 0

Tiempo de Envío (días):
Promedio: 1.53
Máximo: 4
Mínimo: -4

In [39]:
# Filtrar los registros con tiempos de envío negativos
errores_envio = df[df['shipping_time'] < 0]

# Mostrar los registros problemáticos
print("Registros con tiempos de envío negativos:")
print(errores_envio[['shipped_at', 'delivered_at', 'shipping_time']])

Registros con tiempos de envío negativos:
                            shipped_at                     delivered_at  \
23           2021-06-29 08:55:31+00:00        2021-06-28 23:33:00+00:00
30           2021-03-08 07:52:01+00:00        2021-03-07 20:57:00+00:00
47           2023-11-16 16:54:45+00:00        2023-11-16 16:13:00+00:00
59           2022-12-16 08:57:41+00:00        2022-12-14 23:43:00+00:00
74    2024-09-03 16:34:20.159446+00:00 2024-09-03 08:00:23.159446+00:00
...                                ...                              ...
45689        2024-08-16 13:08:31+00:00        2024-08-15 18:55:00+00:00
45705        2022-07-10 00:31:14+00:00        2022-07-09 12:02:00+00:00
45714        2021-07-04 04:02:29+00:00        2021-07-03 07:29:00+00:00
45719        2022-01-06 15:46:46+00:00        2022-01-05 04:05:00+00:00
45721        2021-08-04 08:48:51+00:00        2021-08-04 07:24:00+00:00

       shipping_time
23                -1
30                -1
47                -1
59                -2
74                -1
...              ...
45689             -1
45705             -1
45714             -1
45719             -2
45721             -1

[4324 rows x 3 columns]

In [45]:
# Verificar si algún registro no sigue la secuencia temporal lógica
errores_secuencia = df[
    (df['created_at'] > df['shipped_at']) | 
    (df['shipped_at'] > df['delivered_at']) |
    (df['created_at'] > df['delivered_at'])
]

# Mostrar los registros con errores en la secuencia temporal
print("Registros con errores en la secuencia temporal:")
print(errores_secuencia[['id', 'created_at', 'shipped_at', 'delivered_at']])

Registros con errores en la secuencia temporal:
           id                       created_at  \
23       9281        2021-06-28 16:06:00+00:00
30     150734        2021-03-05 03:13:00+00:00
47      73589        2023-11-13 06:20:00+00:00
59     137589        2022-12-13 22:35:00+00:00
74     134107 2024-09-02 01:57:23.159446+00:00
...       ...                              ...
45689  132222        2024-08-14 07:13:00+00:00
45705   27284        2022-07-08 05:46:00+00:00
45714  119410        2021-07-02 10:06:00+00:00
45719  146320        2022-01-05 00:02:00+00:00
45721   48543        2021-08-03 10:58:00+00:00

                            shipped_at                     delivered_at
23           2021-06-29 08:55:31+00:00        2021-06-28 23:33:00+00:00
30           2021-03-08 07:52:01+00:00        2021-03-07 20:57:00+00:00
47           2023-11-16 16:54:45+00:00        2023-11-16 16:13:00+00:00
59           2022-12-16 08:57:41+00:00        2022-12-14 23:43:00+00:00
74    2024-09-03 16:34:20.159446+00:00 2024-09-03 08:00:23.159446+00:00
...                                ...                              ...
45689        2024-08-16 13:08:31+00:00        2024-08-15 18:55:00+00:00
45705        2022-07-10 00:31:14+00:00        2022-07-09 12:02:00+00:00
45714        2021-07-04 04:02:29+00:00        2021-07-03 07:29:00+00:00
45719        2022-01-06 15:46:46+00:00        2022-01-05 04:05:00+00:00
45721        2021-08-04 08:48:51+00:00        2021-08-04 07:24:00+00:00

[4324 rows x 4 columns]

In [47]:
# Intercambiar las columnas 'shipped_at' y 'delivered_at' para los registros con tiempos negativos
df.loc[df['shipping_time'] < 0, ['shipped_at', 'delivered_at']] = df.loc[df['shipping_time'] < 0, ['delivered_at', 'shipped_at']].values

# Recalcular el tiempo de envío después de la corrección
df['shipping_time'] = (pd.to_datetime(df['delivered_at']) - pd.to_datetime(df['shipped_at'])).dt.days

# Verificar si todavía hay valores negativos después de la corrección
errores_envio_post_correccion = df[df['shipping_time'] < 0]

# Mostrar el resultado
print("Registros con tiempos de envío negativos después de la corrección:")
print(errores_envio_post_correccion)

Registros con tiempos de envío negativos después de la corrección:
Empty DataFrame
Columns: [id, order_id, user_id, product_id, inventory_item_id, status, created_at, shipped_at, delivered_at, returned_at, sale_price, cost, category, brand, department, sale_price_numeric, processing_time, shipping_time]
Index: []

In [53]:
# Verificar si algún registro no sigue la secuencia temporal lógica
errores_secuencia = df[
    (df['created_at'] > df['shipped_at']) | 
    (df['shipped_at'] > df['delivered_at']) |
    (df['created_at'] > df['delivered_at'])
]

# Mostrar los registros con errores en la secuencia temporal
print("Registros con errores en la secuencia temporal:")
print(errores_secuencia[['id', 'created_at', 'shipped_at', 'delivered_at']])

Registros con errores en la secuencia temporal:
Empty DataFrame
Columns: [id, created_at, shipped_at, delivered_at]
Index: []

In [57]:
# Calcular la frecuencia de compra por cliente
frecuencia_cliente = df.groupby('user_id')['order_id'].nunique().reset_index()

# Imprimir la tabla de frecuencia por cliente
print(frecuencia_cliente)

       user_id  order_id
0            2         1
1            9         1
2           10         1
3           13         1
4           16         2
...        ...       ...
27750    99976         1
27751    99982         2
27752    99985         1
27753    99992         1
27754    99994         1

[27755 rows x 2 columns]

In [59]:
# Calcular el valor máximo de la frecuencia de compra
max_frecuencia = frecuencia_cliente['order_id'].max()

# Calcular el valor mínimo de la frecuencia de compra
min_frecuencia = frecuencia_cliente['order_id'].min()

# Imprimir los resultados
print(f"Valor máximo de frecuencia de compra: {max_frecuencia}")
print(f"Valor mínimo de frecuencia de compra: {min_frecuencia}")

Valor máximo de frecuencia de compra: 4
Valor mínimo de frecuencia de compra: 1

In [61]:
# 1. Contar el número de compras por usuario
compras_por_usuario = df.groupby('user_id')['order_id'].nunique().reset_index()
compras_por_usuario.columns = ['user_id', 'num_compras']

# 2. Contar la frecuencia de cada número de compras
frecuencia_compras = compras_por_usuario['num_compras'].value_counts().reset_index()
frecuencia_compras.columns = ['num_compras', 'cantidad_usuarios']

# 3. Filtrar para mostrar solo los que han hecho 1, 2, 3, o 4 compras
frecuencia_compras = frecuencia_compras[frecuencia_compras['num_compras'].isin([1, 2, 3, 4])]

# 4. Calcular el porcentaje
total_usuarios = compras_por_usuario['user_id'].nunique()
frecuencia_compras['porcentaje'] = (frecuencia_compras['cantidad_usuarios'] / total_usuarios) * 100

# Mostrar el resultado
print("Porcentaje de usuarios que han hecho 1, 2, 3 o 4 compras:")
print(frecuencia_compras)

Porcentaje de usuarios que han hecho 1, 2, 3 o 4 compras:
   num_compras  cantidad_usuarios  porcentaje
0            1              24348       87.72
1            2               3074       11.08
2            3                314        1.13
3            4                 19        0.07

In [65]:
# Calcular el valor promedio de compra por cliente
valor_cliente = df.groupby('user_id')['sale_price'].mean().reset_index()

# Renombrar los encabezados para que sean más descriptivos
valor_cliente.columns = ['Cliente_ID', 'Valor_Promedio_Compra']

# Imprimir la tabla con los nuevos encabezados
print(valor_cliente)

       Cliente_ID  Valor_Promedio_Compra
0               2                  59.50
1               9                  15.00
2              10                 178.00
3              13                  59.95
4              16                  20.24
...           ...                    ...
27750       99976                  29.99
27751       99982                  52.18
27752       99985                   1.75
27753       99992                  58.91
27754       99994                  38.49

[27755 rows x 2 columns]

In [67]:
# Definir los rangos de valor promedio de compra
bins = [0, 50, 100, 200, 500, 1000, float('inf')]
labels = ['0-50', '51-100', '101-200', '201-500', '501-1000', '1001+']
valor_cliente['Rango_Valor_Promedio'] = pd.cut(valor_cliente['Valor_Promedio_Compra'], bins=bins, labels=labels, right=False)

# Calcular la cantidad de clientes en cada rango
conteo_rangos = valor_cliente['Rango_Valor_Promedio'].value_counts().sort_index()

# Calcular el porcentaje de clientes en cada rango
porcentaje_rangos = (conteo_rangos / len(valor_cliente)) * 100

# Crear un DataFrame con los resultados
resultado_23 = pd.DataFrame({
    'Rango_Valor_Promedio': conteo_rangos.index,
    'Cantidad_Clientes': conteo_rangos.values,
    'Porcentaje_Clientes': porcentaje_rangos.values
})

# Imprimir el resultado
print(resultado_23)

  Rango_Valor_Promedio  Cantidad_Clientes  Porcentaje_Clientes
0                 0-50              15856                57.13
1               51-100               8288                29.86
2              101-200               2985                10.75
3              201-500                575                 2.07
4             501-1000                 51                 0.18
5                1001+                  0                 0.00

In [69]:
# Extraer el mes de la fecha de creación de la orden
df['month'] = pd.to_datetime(df['created_at']).dt.month

# Ventas por mes
ventas_por_mes = df.groupby('month')['sale_price'].sum().reset_index()

# Imprimir la tabla de ventas por mes
print(ventas_por_mes)

    month  sale_price
0       1  191,812.67
1       2  193,015.86
2       3  223,383.08
3       4  218,170.92
4       5  262,068.04
5       6  249,505.17
6       7  294,154.64
7       8  398,583.69
8       9  152,542.05
9      10  178,135.16
10     11  170,193.41
11     12  188,060.86

In [73]:
import pandas as pd

# Supongamos que 'ventas_por_mes_ano' es el DataFrame que contiene tus datos

# Crear un DataFrame con los meses en el orden correcto
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre']
ventas_por_mes_ano['Mes_Nombre'] = ventas_por_mes_ano['month'].map({1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Setiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'})

# Pivotar el DataFrame para tener años como columnas y meses como filas
ventas_pivot = ventas_por_mes_ano.pivot(index='Mes_Nombre', columns='year', values='sale_price')

# Reordenar las filas de acuerdo a los meses
ventas_pivot = ventas_pivot.reindex(meses)

# Imprimir el resultado
print(ventas_pivot)

year           2019      2020      2021      2022      2023       2024
Mes_Nombre
Enero           NaN  6,859.33 17,123.17 30,896.72 49,949.90  86,983.55
Febrero      693.79  9,479.25 17,782.26 28,580.43 46,518.27  89,961.86
Marzo      1,154.70  8,893.99 23,388.85 34,270.67 59,258.80  96,416.07
Abril      1,263.07  8,595.52 22,631.93 34,829.82 49,559.30 101,291.28
Mayo       1,261.05 12,374.61 23,496.24 36,073.18 62,391.37 126,471.59
Junio      3,682.35 11,714.14 20,924.51 37,619.68 59,768.24 115,796.25
Julio      4,006.11 12,958.67 22,644.28 39,686.93 61,460.86 153,397.79
Agosto     3,934.71 13,054.48 24,521.72 33,480.91 62,704.56 260,887.31
Setiembre  6,289.78 15,044.37 22,063.54 40,983.96 65,701.70   2,458.70
Octubre    6,747.72 16,199.48 28,633.22 46,242.19 80,312.55        NaN
Noviembre  7,227.77 15,098.65 25,521.13 47,761.26 74,584.60        NaN
Diciembre  8,207.04 21,564.59 26,738.85 48,131.92 83,418.46        NaN

In [75]:
# Invertir filas y columnas
ventas_invertido = ventas_pivot.transpose()

# Imprimir el resultado invertido
print(ventas_invertido)

Mes_Nombre     Enero   Febrero     Marzo      Abril       Mayo      Junio  \
year
2019             NaN    693.79  1,154.70   1,263.07   1,261.05   3,682.35
2020        6,859.33  9,479.25  8,893.99   8,595.52  12,374.61  11,714.14
2021       17,123.17 17,782.26 23,388.85  22,631.93  23,496.24  20,924.51
2022       30,896.72 28,580.43 34,270.67  34,829.82  36,073.18  37,619.68
2023       49,949.90 46,518.27 59,258.80  49,559.30  62,391.37  59,768.24
2024       86,983.55 89,961.86 96,416.07 101,291.28 126,471.59 115,796.25

Mes_Nombre      Julio     Agosto  Setiembre   Octubre  Noviembre  Diciembre
year
2019         4,006.11   3,934.71   6,289.78  6,747.72   7,227.77   8,207.04
2020        12,958.67  13,054.48  15,044.37 16,199.48  15,098.65  21,564.59
2021        22,644.28  24,521.72  22,063.54 28,633.22  25,521.13  26,738.85
2022        39,686.93  33,480.91  40,983.96 46,242.19  47,761.26  48,131.92
2023        61,460.86  62,704.56  65,701.70 80,312.55  74,584.60  83,418.46
2024       153,397.79 260,887.31   2,458.70       NaN        NaN        NaN

In [103]:
# Calcular la ganancia bruta para cada venta
df['ganancia_bruta'] = df['sale_price'] - df['cost']

# Calcular la ganancia bruta total
ganancia_bruta_total = df['ganancia_bruta'].sum()
# Formatear el número con separadores de miles y dos decimales
resultado_formateado = f"Ganancia Bruta Total: {ganancia_bruta_total:,.2f}"

# Imprimir el resultado formateado
print(resultado_formateado)

# Calcular la ganancia bruta por categoría
ganancia_por_categoria = df.groupby('category')['ganancia_bruta'].sum().reset_index()

# Mostrar la ganancia bruta por categoría
print("Ganancia Bruta por Categoría:")
print(ganancia_por_categoria)

Ganancia Bruta Total: 1,412,418.45
Ganancia Bruta por Categoría:
                         category  ganancia_bruta
0                     Accessories       62,437.72
1                          Active       66,970.62
2               Blazers & Jackets       46,379.44
3                   Clothing Sets        1,626.12
4                         Dresses       61,056.33
5   Fashion Hoodies & Sweatshirts       80,535.02
6                       Intimates       51,159.50
7                           Jeans      151,727.24
8             Jumpsuits & Rompers        4,446.08
9                        Leggings        8,037.25
10                      Maternity       35,793.20
11              Outerwear & Coats      183,949.56
12                          Pants       61,207.25
13                 Pants & Capris       22,006.96
14                           Plus       19,536.39
15                         Shorts       64,441.96
16                         Skirts       17,215.95
17                 Sleep & Lounge       71,395.44
18                          Socks       11,696.27
19                Socks & Hosiery        9,577.94
20                          Suits       11,904.07
21            Suits & Sport Coats      101,484.75
22                       Sweaters      108,135.73
23                           Swim       78,651.44
24                    Tops & Tees       53,700.93
25                      Underwear       27,345.28